button {
  color: red;
  outline: none;
  transition: all 1s;
  animation: fly 100 infinite;

  p {
    width: 100px;
  }
}

@keyframes fly {
  from {
    left: 1px;
  }

  to {
    left: 100px;
  }
}
